

.cell {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.dead {
  background-color: white;
}

.live {
  background-color: black;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 15px);
  justify-content: center;
}

h1, h2, h3, h4 {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}